.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.showMenu {
  display: flex;
  min-width: 300px;
  justify-content: flex-end;
  padding: 0;
}

.showMenu li {
  list-style: none;
  margin-right: 30px;
}

.showMenu li a {
  text-decoration: none;
  padding: 10px 0;
  transition: all linear .5s;
}

.showMenu li a:hover,
li .active,
li a:active {
  color: rgb(216, 149, 4);
  border-bottom: solid 2px rgb(216, 149, 4);
}

.home,
.quote {
  padding: 0 7%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home .home-img {
  width: 50%;
  height: 100%;
  background-image: url('./42222.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.home .home-content {
  width: 50%;
  height: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculatorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./math-bg.jpg');
  background-size: 100% 100%;
}

.navBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.555);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
}

.navBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navBar img {
  height: 60px;
  width: 100px;
}

.quote {
  margin-top: 20vh;
  text-align: center;
}
